{{#liquid-if showNewCommentForm class='activeForm'}}
  <div class="container">
    <form>
      <div class="form-group">
        <label for="message">Comment:</label>
        {{input value=message id="messageComment"}}
      </div>
      <div class="form-group">
        <label for="author">name:</label>
        {{input value=author id='authorComment'}}
      </div>
      <div class="form-group">
        <label for="date">Date:</label>
        {{md-input-date value=date}}
      </div>
      <button class="btn deep-purple lighten-4" {{action 'saveComment'}}>Submit</button>
      <button class="btn deep-purple lighten-4" {{action 'closeForm'}}>Cancel</button>
    </form>
  </div>
{{else}}
<div class="container">
  <button class="btn deep-purple lighten-4" {{action 'showForm'}}>add a comment!</button>
</div>
{{/liquid-if}}
