<div class="container">
  {{fullPost}}
  {{update-post post=post updatePost="updatePost"}}
  <button class="btn btn-success" {{action 'addToBookmarks' post}}>Bookmark</button>
</div>


{{#each post.comments as |comment|}}
  {{comment-tile comment=comment}}
  <div class="container">
    <button class=" btn deep-purple lighten-4"{{action 'deleteComment' comment}}>Delete Comment</button>
  </div>
{{/each}}
